img{
    width: 250px;
    margin-bottom: 30px;
}

form{
    width: 500px;
    margin: 30px auto; /*O atributo "auto" deixa as margins laterais automaticas, isso centraliza o elemento*/
    text-align: center;
}

input{
    margin-bottom: 10px;
}

input[type="button"]{
    margin-right: 10px;
}